.body{
     background: #1c1f23;
}

.codingScreen{
     display: grid;
     z-index: 5;
     grid-template-columns: auto 1fr auto;
}

.exploreContainer{
     width: 215px;
}

.exploreContainerStyle{
     background: #2d3239;
}

.filesContainer{
     color: #ffff;
     font-family: century;
     white-space: nowrap;
     overflow-y: scroll;
     overflow-x: hidden;
     max-height: 250px;
}

.folderFiles{
     background: #1c1f23;
     margin: 5px;
     color: #ffff;
     font-family: century;
     white-space: nowrap;
     overflow-y: scroll;
     overflow-x: hidden;

}
