body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  background: rgba(214, 214, 214, 0.74);
  
}

.content h1{
  
  font-size: 2.7rem;
}

video {
  width: 95%;
  height: 28rem;
  border: 2px solid white;
  
}

body {
  text-align: center;
  padding-top: 20px;
}

#videoSelectBtn{
  background-color: rgba(172, 255, 47, 0.658);
  border-radius: 20px;
  font-weight: bold;
}
